.services {
    max-width: 100%;
}

.services1 {
    display: none;
    background-color: rgb(0, 154, 214);
    padding: 10px;
    height: 180px;
    max-width: 100%;
}

.sevices-background {
    height: auto;
    padding: 10px;
    background-image: url(./background11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.div-main-h3 {
    color: rgb(0, 138, 192);
    font-size: 25px;
}

.div-s {
    padding: 8px;
    margin: auto;
    max-width: 80%;
    color: rgb(61, 216, 255);
}

.s-back {
    height: 280px;
    margin: 0 auto 0 auto;
    max-width: 90%;
    background-image: url(./s-background2.jpg);
    background-repeat: no-repeat;
}